<ul class="navbar-nav">
    <li class="nav-item">
        <form asp-area="" asp-controller="UserManagement" asp-action="UserList" method="get">
            <i class="fa fa-search"></i>
            <input type="text" placeholder="Поиск" name="search">
        </form>
    </li>
</ul>
