@page
@using Microsoft.AspNetCore.Identity.UI.V5.Pages.Account.Internal;
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Подтвердить Email";
}

<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
